[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.14"

[dev-packages]
tox = ">=4.24"
pytest = ">=8.3"
pytest-cov = ">=6.0"
ruff = ">=0.15.8"
sphinx = ">=8.2"
sphinx-rtd-theme = ">=3.0"
sphinxcontrib-bibtex = ">=2.6"
nltk = ">=3.9.3"

[packages]
numpy = ">=2.3"
